body {
	background-image: url('/images/MEONGWARNA.png');
	background-size: contain;
	font-family: Helvetica serif;
}
.bigger {
	font-size: 1.4em;
	font-weight: bold;
}

.center-box {
	margin: 0 auto;
	max-width: 800px;
}

#iscaps-abbreviation {
	background-color: #47aba3;
	color: #c7e6e4;
	margin: 0 auto;
	width: 300px;
}

#motivational-quotes {
	max-width: 50%;
	margin: 0 auto;
}

.quotes {
	word-wrap: break-word;
}

.white-title {
	color: white;
	font-family: courier arial;
}

.black-header {
	color: white;
	background-color: black;
	margin: 0;
}

#speedometer {
	margin-bottom: 10px;
}
.speedometer-container {
	min-width: 250px;
	max-width: 400px;
	height: 300px;
	margin: 10px 0;
	background-color: #00b3b3;
}
.speedometer-tag {
	position: absolute;
	left: 320px;
}

.content {
	padding: 10px;
}